<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
</head>

<body>
  <h1>Details (Comment #<%= comment.id %>)</h1>
  <p><%= comment.comment %> - <b><%= comment.username %></b></p>

  <a href="/comments">View All Comments</a> <span>|</span>
  <a href="/comments/edit/<%= comment.id %>">Edit</a> <span>|</span>

  <form action="/comments/<%= comment.id %>?_method=DELETE" method="post">
    <button>Delete</button>
  </form>
</body>

</html>